
Warning: Module "mysqli" is already loaded in Unknown on line 0
CREATE TABLE `clients` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `case_no` int(11) DEFAULT NULL,
  `case_order` int(4) DEFAULT NULL,
  `case_ref` varchar(255) DEFAULT NULL,
  `client_title` varchar(255) DEFAULT NULL,
  `client_type` varchar(255) DEFAULT NULL,
  `client_fname` varchar(255) DEFAULT NULL,
  `client_lname` varchar(255) DEFAULT NULL,
  `client_address` text,
  `client_city` varchar(255) DEFAULT NULL,
  `client_country` varchar(255) DEFAULT NULL,
  `client_postcode` varchar(255) DEFAULT NULL,
  `client_hometel` varchar(255) DEFAULT NULL,
  `client_worktel` varchar(255) DEFAULT NULL,
  `client_mobile` varchar(255) DEFAULT NULL,
  `client_email` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT '0000-00-00 00:00:00',
  `created_by` int(11) NOT NULL,
  `client_cooperation` varchar(255) DEFAULT NULL,
  `sketch` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1422 DEFAULT CHARSET=latin1
